table.table>tbody>tr>td {
    background-color: rgba(0, 0, 0, 0);
}

.action-btns {
    display: none;
}

.main-header {
    height: 90px;
    background-color: navy;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.sidebar-button {
    display: none;
    padding: 16px;
}


#scans-table {
    position: relative;
    width: 100%;
    padding: 20px 16px 0 16px;
}

#sidebar-spacer {
    background: #ececec;
    max-width: 400px;
    width: 100%;
    border-left: 1px solid #333;
    height: 100vh;
    display: none;
}

#actual-sidebar {
    max-width: 400px;
    background: white;
    width: 100%;
    border-left: 1px solid #333;
    height: 93vh;
    position: sticky;
    top: 90px;
    right: 0;
    z-index: 2;
}

.sidebar-content {
    padding: 20px;
    position: sticky;
}

@media screen and (max-width:1200px) {

    /* Table can be overflowed before the sidebar can be hidden */
    #scans-table {
        overflow-x: scroll;
    }

    /* Set table width so it can be overflowed */
    #scans-table table {
        width: 1200px;
    }

}

@media screen and (max-width:990px) {

    .sidebar-button {
        display: block;
    }

    #actual-sidebar {
        position: fixed;
        box-shadow: 0 0 20px rgba(0, 0, 0, .5);
        z-index: 3;
        top: 0;
        height: 100vh;
        /* Add transition once the sidebar breaks out and can be hidden */
        transition: .2s ease-out;
    }

}