table.table>tbody>tr>td {
    background-color: rgba(0, 0, 0, 0);
}

.action-btns {
    display: none;
}

/* #main-content {
    position: relative;
} */

.main-header {
    height: 90px;
    background-color: navy;
    color: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}


#scans-table {
    width: 100%;
    padding: 20px 16px 0 16px;
}

/* #main-content {
    position: relative;
} */

#sidebar-spacer {
    background: #ececec;
    max-width: 400px;
    width: 100%;
    border-left: 1px solid #333;
    height: 100vh;
    display: none;
}

#actual-sidebar {
    max-width: 400px;
    background: white;
    width: 100%;
    border-left: 1px solid #333;
    height: 93vh;
    position: sticky;
    top: 90px;
    /* bottom: 0; */
    right: 0;
    z-index: 2;
}

.sidebar-content {
    padding: 20px;
    position: sticky;
}

@media screen and (max-width:1200px) {
    #scans-table {
        overflow-x: scroll;
    }

    #scans-table table {
        width: 1200px;
    }

}

@media screen and (max-width:990px) {

    #actual-sidebar {
        position: fixed;
        box-shadow: 0 0 20px rgba(0, 0, 0, .5);
        z-index: 3;
        top: 0;
        height: 100vh;
    }

}